* {
    padding: 0;
    margin: 0;
}
html {
    font-size: 16px;
}
/* la parte inicial  */
header {
    width: 100%;
    height: 70vh;
    background-image: url("../imgs/banner.PNG");
    background-repeat: no-repeat;
    background-size: 100%;

    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;

    margin-bottom: 5%;
}
.foto-perfil {
    width: 20%;
    border-radius: 50%;
    margin-bottom: 2%;
}
.nombre-perfil {
    font-size: 1.4em;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0.5%;
}
.descripcion-perfil {
    width: 50%;
    color: rgb(35, 35, 35);
    font-style: italic;
    text-align: center;
}

/* clases generales  */
.main {
    width: 100%;
    padding: 1% 5%;
    box-sizing: border-box;
    background: linear-gradient(to bottom, rgb(69, 251, 69), rgb(154, 255, 154));
}

/* cuerpo */
.titulo-seccion {
    font-size: 1.5em;
    color: brown;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 1% 0;
    margin-top: 3%;
}
p {
    font-family: monospace;
    padding: 0 15%;
    text-align: center;
}
img {
    width: 35%;
    display: block;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 4%;
}

/* formulario */
#formulario {
    margin-top: 4%;
    text-align: left;
}
label {
    font-size: 1em;
    text-align: left;

}
.indicador {
    color: red;
    font-size: 0.75em;
    margin: 1% 0 1% 3%;
    text-align: left;
    padding: 0;

}
.boton-index {
    padding: 0.5%;
    display: block;
    margin: 0 auto;
}

@media(max-width: 520px) {
    html {
        font-size: 14px;
    }
    header {
        height: 40vh;
    }
    .descripcion-perfil {
        width: 60%;
    }
}