* {
    margin: 0;
    padding: 0;
}
html {
    font-size: 16px;
    padding: 2%;
}

.oculto {
    display: none;
}
.centro {
    background-color: black;
    color: white;
    position:fixed;
    top: 40%;
    left: 35%;
    text-align: center;
    width: 30%;
    padding: 2%;
    font-family: 'Courier New', Courier, monospace;

}
#cuenta {
    margin-top: 4%;
}

/* css general  */
.titulo-cafe {
    font-size: 1.6em;
    color: brown;
    margin-bottom: 2%;
}
.seccion {
    width: 90%;
    margin: 4% auto;
    padding: 2%;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 20px;
    
}
.imagen-refuerzo {
    width: 40%;
    display: block;
    margin: 0 auto;
    margin-top: 2%
}
.texto {
    color: negro;
    font-family: monospace;
}
.texto-blanco {
    color: white;
    font-family: monospace;
}

/* galeria  */
.galeria {
    width: 90%;
    padding: 2% 0;
    background-color: black;
    box-sizing: border-box;
    height: 50vh;
    display: flex;
    align-items: center;
    gap: 2%;
    overflow-x: scroll;
}
.imagen-space {
    flex: 0 0 40%;
    margin: auto 1%;
}
.imagen-gal {
    width: 100%;;
}

/* parte de cambio de calculadora  */
.fondo-verde {
    background-color: rgb(55, 159, 62);
}
.titulo-blanco {
    color: white;
    font-size: 1.6em;
}
.calculadora {
    padding: 2%;
    box-sizing: border-box;
    width: 60%;
    text-align: center;
}
select, input, .boton-calculadora {
    display: block;
    margin: 2% 0;
    width: 60%;
    height: 30px;
    
}

/* cambio de tema */
.fixed {
    position: fixed;
    top: 10px;
    right: 20px;
}
.tema {
    padding: 4%;
}

.fondo-cafe {
    background-color: rgb(148, 119, 119);
}